body{
    background-image: url('https://source.unsplash.com/1600x900/?city');
    background-size: cover;
    font-family: 'Bitter', serif, Arial ;
    font-weight: 800;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #E0E2DB;
    font-size: 20px;
}
.weather{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;
}

.weather-search{
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: rgba(99, 93, 92, 0.5);
    font-size: 15px;
    color: inherit;
    margin-bottom: 20px;
}
.weather-search::placeholder{
    color:#E0E2DB;
}

.weather-today{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.weather-img{
    width: 10vmin;
    align-self: center;
}

.weather.city{
    font-size: 40px;
    font-weight:600;
    margin: 20px 0;
}

.weather-day{
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
}

.weather-indicator-humidity .icon{
    width: 18px; 
    height: 18px;

}

.weather-indicator-wind .w-icon{
    width: 20px; 
    height: 20px;   
}

.weather-indicator-pressure .p-icon{
    width: 20px; 
    height: 20px;
}

.weather-temp{
   font-size: 50px; 
}

.weather-forecast{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-forecast-icon{
    max-width: 100%;
}
.weather-item{
    background-color: rgba(183, 182, 193, 0.35);
    border-radius:20px;
    margin: 0 10px 10px;
    padding: 30px 5px 20px;
    box-sizing: border-box;
    min-width: 150px;
    width: calc(20%-20%);
    flex-grow: 1;
}




